 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 81px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 542px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  height: 240px;
  margin: 96px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 267px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 7px 49px 0 71px;
}

.u-section-1 .u-text-4 {
  width: 223px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  height: 42px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  height: 240px;
  margin: 96px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 267px;
  height: auto;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 7px 49px 0 71px;
}

.u-section-1 .u-text-6 {
  width: 223px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  height: 42px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 240px;
  margin: 96px auto 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 267px;
  height: auto;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 23px 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 7px 49px 0 71px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  width: 223px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(221, 53, 46) !important;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  height: 42px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 254px;
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 254px;
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    min-height: 254px;
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    width: 289px;
  }

  .u-section-1 .u-image-2 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-3 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-2 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-3 {
    height: 215px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 79px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 825px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 266px;
  }
}